---
import MainLayout from "@/layouts/MainLayout.astro";
import ModalFilterDPT from "../components/ModalFilterDPT.astro";
---

<MainLayout
  title="EIS"
  description="Welcome to EIS!">

    <ModalFilterDPT hasil={true} formAction="tps-hasil-form" />

    <div class="grid grid-cols-2 gap-3 mb-5">
        <a href="tps-survei" class="block rounded-xl px-3 py-2.5 text-center text-tertiary font-semibold border border-[#E7E9F0] bg-transparent">Survei</a>
        <a href="tps-hasil" class="block rounded-xl px-3 py-2.5 text-center text-brand font-semibold border border-brand bg-brand-secondary">Hasil Suara</a>
    </div>
  
    <h1 class="font-bold text-xl mb-5">Hasil Suara</h1>  

    <div class="grid gap-5">
      <div>
        <div class="mt-1 relative">
          <input id="filter" name="filter" type="text" autocomplete="filter" data-toggle="modal" data-dismiss="modal" data-target="#modal-filter" readonly class="input-icon input-filter block w-full rounded-full border-0 pr-10 py-3.5 ring-1 ring-inset ring-[#E7E9F0] placeholder:text-[#B7BECD] focus:ring-1 focus:ring-inset focus:ring-primary/30 text-sm sm:leading-6" placeholder="Pilih kecamatan, desa, TPS">
        </div>
      </div>
    </div>
    
</MainLayout>

<script is:inline src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script type="text/javascript" src="js/select2Controller.js"></script>