---
import { Image } from "astro:assets";
import logoSR from "@/assets/logo-sr.png";
import { BASE_URL } from "@/consts";
---

<header
  id="header"
  class="z-[5] sticky top-0 bg-white relative mx-auto w-full max-w-[480px] px-5 py-[17px] bg-white flex border-b border-[#6d7c87]/10">
  <a href={BASE_URL} class="h-8 [&>img]:w-auto [&>img]:h-full">
    <Image src={logoSR} alt="A description of my image." />
  </a>  
</header>
