---
const tagList = [
    { url: "#t-pribadi", name: "Data Pribadi"},
    { url: "#t-alamat", name: "Alamat"},
    { url: "#t-dukungan", name: "Status Dukungan"},
    { url: "#t-promosi", name: "Promosi"},
]
---
<div class="relative -mx-5 my-5 border-[#6d7c87]/10">
    <div class="nav-scrollable relative p_tabs border-b [&>a.selected]:border-b-2 [&>a.selected]:border-brand flex flex-nowrap pt-1 pl-5 text-tertiary text-sm overflow-x-auto whitespace-nowrap [&>a]:transition-all [&>a]:duration-300">
        {tagList.map(item => (
            <a href={item.url} class="px-1 py-3 mr-5">{item.name}</a>
        ))}
    </div>
</div>

<style is:global>
    .nav-scrollable {
        -ms-overflow-style: none;
		scrollbar-width: none;
        &::-webkit-scrollbar {
			display: none;
		}
    }
</style>

<script type="text/javascript" src="js/tab.js"></script>