---
import { SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import { cn } from "@/lib/utils";

interface Props {
  title?: string;
  description?: string;
  mainClassName?: string;
  islogin?: boolean;
}

const { title = SITE_TITLE, description = SITE_DESCRIPTION, mainClassName, islogin} = Astro.props;
---

<html lang="id" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />    
  </head>
  <body class="min-h-screen bg-slate-200 flex flex-col">    
    <Header login={islogin} />
    <main class={cn(["relative mx-auto w-full max-w-[480px] p-5 bg-white flex-1", mainClassName])}>
      <slot />
    </main>
  </body>
</html>
