---
import Button from "./Button.astro";
---

<div class="sticky bottom-0 p-4 bg-white border-t border-[#6d7c87]/10 -mx-5">
    <Button isButton={true} className="w-full" type="submit" disabled>Simpan</Button>
</div>